@font-face {
	font-family: "Gilroy";
	src: 
		local("Gilroy ExtraBold"), local("Gilroy-ExtraBold"),
		url("../fonts/gilroyextrabold.woff2") format("woff2"),
		url("../fonts/gilroyextrabold.woff") format("woff");
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: "Gilroy";
	src: 
		local("Gilroy Light"), local("Gilroy-Light"),
		url("../fonts/gilroylight.woff2") format("woff2"),
		url("../fonts/gilroyexlight.woff") format("woff");
	font-weight: 300;
	font-style: normal;
} 

@font-face {
	font-family: "Open Sans";
	src: 
		local("Open Sans Light"), local("OpenSans-Light"), 
		url("../fonts/opensanslight.woff2") format("woff2"),
		url("../fonts/opensanslight.woff") format("woff");
	font-weight: 300;
	font-style: normal;

}

@font-face {
	font-family: "Open Sans";
	src: 
		local("Open Sans"), local("OpenSans"), 
		url("../fonts/opensans.woff2") format("woff2"),
		url("../fonts/opensans.woff") format("woff");
	font-weight: normal;
	font-style: normal;

}


body {
	min-width: 1200px;
	font-family: "Gilroy", Arial, sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 1.2em;
	letter-spacing: 0.01em;
	color: #000000;
	}


 a {
	text-decoration: none;
	color: #000000;
}

img {
	max-width: 100%;
	height: auto;
}


.container {
  width: 1160px;
	margin: 0 auto;
	padding-right: 20px;
	padding-left: 20px;
}

.wrapper {
	display: flex;
	justify-content: space-between;
}

.main-header .container {
	position: relative;
}

.main-header .container::before {
	position: absolute;
	z-index: -1;
	top: 27px;
	content: "";
	display: block;
	width: 1160px;
	height: 186px;
	background-color: #ffe27f;

}


.logo {
	padding-left: 60px;
	font-size: 48px;
	line-height: 1.2em;
	text-transform: uppercase;
}

.logo a:hover {
	color: #444444;
}

.logo a:active {
	color: #666666;
}

.main-header .user-block{
	padding-top: 10px;
	padding-right: 60px;
	padding-bottom: 15px;
	padding-left: 60px;
	font-family: "Open Sans", Arial, sans-serif;
	font-weight: 300;
	font-size: 15px;
	line-height: 36px;
	letter-spacing: 0.01em;
	color: #000000;
}

.search-form{
	position: relative;
	flex-basis: 440px;
	font-size: 0;

}


.search-form::before {
	position: absolute;
	left: 3px;
	top: 10px;
	content: "";
	display: block;
	width: 16px;
	height: 16px;
	background-image: url("../img/icons/icons-sprite.png");
	background-repeat: no-repeat; 
	background-position: -10px -452px;

}

/* Осталась стилизация плейсхолдера*/

.search-form .search {
	width: 315px;
	padding-left: 40px;
	font-family: "Open Sans", Arial, sans-serif;
	font-weight: 300;
	font-size: 15px;
	line-height: 36px;
	letter-spacing: 0.01em;
	color: #000000;
	border: none;
	background-color: transparent;
}

.search-form .btn {
	display: none;
}

.search:focus {
	border-bottom: 2px solid black;
	outline: none;
}

.search:focus + .btn {
 display: inline-block;
 width: 81px;
 font-family: "Open Sans", Arial, sans-serif;
	font-weight: 300;
	font-size: 15px;
	line-height: 36px;
	letter-spacing: 0.01em;
	color: #000000;
 background-color: transparent;
 border: 2px solid black;
}


.search:focus + .btn:hover {
	background-color: #000000;
	color: #ffffff;
}

/*какая-то фигня: нажатие не отображается и кнопка исчезает*/

.search:focus + .btn:active {
	background-color: #000000;
	color: rgba(255, 255, 255, 0.3);
}



.personal{
	flex-basis: 520px;
	list-style: none;
	margin: 0;
	padding: 0;
}

.personal li:nth-last-child(2) {
	margin-left: auto;
}

.personal a:not(.exit){
	position: relative;
	display: block;
	padding-left: 25px;
	
	}



.personal .exit {
	color: rgba(0, 0, 0, 0.3);
	margin-left: 15px;
}

.personal .basket {
	margin-left: 40px;
}

.personal a:not(.exit)::before {
	position: absolute;
	bottom: 12px;
	left: 5px;
	content: "";
	display: block;
	background-image: url("../img/icons/icons-sprite.png");
  background-repeat: no-repeat; 
}

.personal .user::before {
	width: 13px;
  height: 12px;
  background-position: -10px -254px;
}

.personal .compare::before {
	width: 10px;
 	height: 10px;
  background-position: -10px -224px;
}


.personal .basket::before {
	width: 12px;
  height: 12px;
  background-position: -10px -192px;
}


.personal a:not(.exit):hover {
	opacity: 0.6;
}


.personal a:not(.exit):active {
	opacity: 0.3;
}



.main-header .service-block{
	position: relative;
	padding: 20px 60px 0;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	
}

.service-block a:hover {
	color: rgba(0, 0, 0, 0.6);
}

.service-block a:active {
	color: rgba(0, 0, 0, 0.3);
}

.catalog {
	flex-basis: 520px;
	padding-bottom: 20px;

}

.catalog-title {
	position: relative;
	padding-right: 28px;
}

.catalog-title::before,
.catalog-title::after {
	position: absolute;
	top: 9px;
	right: 0;
	content: "";
	display: block;
	width: 16px;
	height: 2px;
	background-color: rgba(0, 0, 0, 0.3);
}

.catalog-title::after {
	transform: rotate(90deg);
}

.catalog-title:hover::before,
.catalog-title:hover::after {
	background-color: rgba(0, 0, 0, 0.2);
}

.catalog-title:active::before,
.catalog-title:active::after {
	background-color: rgba(0, 0, 0, 0.1);
}

.catalog-items {
	position: absolute;
	top: 60px;
	right: 0px;

	display: none;
	width: 1100px;
	padding-bottom: 30px;
	padding-left: 60px;
	background-color: #ffe27f;
}

.catalog:hover .catalog-items{
	display: flex;
	justify-content: flex-start;
	
}

.catalog-items ul {
	list-style: none;
	margin: 0;
	padding: 0;
}


.catalog-items ul:first-child {
	padding-right: 40px;
}

.catalog-items li{
	width: 200px;
}


.catalog-items a {
	font-family: "Open Sans", Arial, sans-serif;
	font-weight: 300;
	font-size: 15px;
	line-height: 36px;
	letter-spacing: 0.01em;
	text-transform: none;

}




.service {
	flex-basis: 520px;
	list-style: none;
	margin: 0;
	padding: 0;

}

.service li:first-child {
	margin-right: 35px;
}

.service li:last-child {
margin-left: auto;
}

.service a {
	display: block;
	}



/*main*/

.promo-slider {
	padding-top: 35px;
	margin-bottom: 100px;
}


.promo-item img {
	width: 560px;
	height: 500px;
	margin-right: 20px;

}

.description {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 510px;
	padding-right: 50px;
	padding-left: 20px;

}
 .description h2 {
 	margin: 85px 0 0 0;
 	font-size: 47px;
	line-height: 1.2em;
 	font-weight: 800;
 	 }

 .description p {
	font-family: "Open Sans", Arial, sans-serif;
	font-weight: 300;
	font-size: 15px;
	line-height: 30px;
	color: #444444;
	}

 .description a {
 	position: relative;
 	display: block;
 	width: 220px;
 	padding-top: 11px;	
 	padding-bottom: 11px;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	text-align: center;

 }

 .description a::before {
 	position: absolute;
 	z-index: -1;
 	top: 17px;
 	content: "";
 	display: block;
 	width: 220px;
 	height: 8px;
 	background-color: #ffc600;
 }

 .description a:hover {
 	background-color: #ffc600;
 }

 .description a:active {
 	color: rgba(0, 0, 0, 0.3);
 }



 .promo-property {
 	list-style: none;
 	margin: 0;
 	padding: 0;
 }
 
.promo-property li{
	display: inline-block;
	margin-right: 75px;
}

.promo-property span:first-child {
	display: block;
	margin-bottom: 15px;
	font-family: "Gilroy", Arial, sans-serif;
	font-weight: 300;
	font-size: 36px;
	line-height: 1.2em;

	

}
.promo-property span:last-child {
	display: block;
	padding-bottom: 10px;
	font-family: "Open Sans", Arial, sans-serif;
	font-weight: 300;
	font-size: 13px;
	line-height: 20px;
	letter-spacing: 0.01em;
}

 .popular {
 	margin-bottom: 160px;
 }

 .popular-item {
 	position: relative;
 	width: 160px;
 	height: 160px;
 	background-color: #ffe27f;
 	overflow: visible;
 }

 .popular-item:hover {
 	background-color: #ffc600;
 }

 .popular-item a {
 	position: absolute;
 	top: 0;
 	left: 0;
 	display: block;
 	width: 160px;
 	padding-top: 200px;
 	background-image: url("../img/popular-sprite.png");
  background-repeat: no-repeat;
 	

 }
 /* эти все картинки ещё необходимо будет собрать в спрайт */

.popular-item .virtual-reality {
	 background-position: -822px -2px;
}

.popular-item .monopod {
	background-position: -330px -2px;
}

.popular-item .action-camera {
	background-position: -2px -2px;
}

.popular-item .fitness-bracelets {
	background-position: -166px -2px;
}

.popular-item .smart-watch {
	background-position: -658px -2px;
}
.popular-item .quadrocopter {
	background-position: -494px -2px;
}

.popular-item a:active {
	opacity: 0.3;
}

.service-slider {
	position: relative;
	margin-bottom: 160px;
}

.service-slider input {
	display: none;
}

.service-slider::after {
	position: absolute;
	top: 100px;
	content: "";
	display: block;
	width: 100%;
	height: 288px;
	z-index: -2;
	background-color: #e6e6e6;
}

.slider-toggles {
	width: 277px;
	padding-top: 80px;
	padding-bottom: 45px;
	border-right: 7px solid black;
}

.slider-toggles label {
	position: relative;
	display: block;
	width: 160px;
	padding-top: 10px;
	padding-right: 117px;
	padding-bottom: 10px;
	margin-bottom: 25px;
	text-align: center;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	
}

.slider-toggles label::before {
	position: absolute;
	top: 16px;
	content: "";
	z-index: -1;
	display: block;
	width: 160px;
	height: 8px;
	background-color: #ffc600;
}

.slider-toggles label:hover{
	padding-right: 0px;
	margin-right: 117px;
	background-color: #ffc600;
}

/*меньшая вложенность здесь не получается*/

#btn-4:checked ~ .slider-toggles label[for="btn-4"],
#btn-5:checked ~ .slider-toggles label[for="btn-5"],
#btn-6:checked ~ .slider-toggles label[for="btn-6"] {
	margin-right: 0px;
	padding-right: 117px;
	color: #ffe27f;
	background-color: #000000;
}

 .service-item {
 	position: relative;
	display: none;
	width: 760px;
	padding-left: 116px;
	padding-top: 70px;
	
}

.service-item::before {
	position: absolute;
	content: "";
	display: block;
  background-image: url("../img/spritesheet.png");
  background-repeat: no-repeat;
}

.service-item.delivery::before {
	top: 85px;
 	right: 60px;
 width: 136px;
    height: 164px;
    background-position: -171px -5px;
}

.service-item.warranty::before {
	top: 60px;
		right: 45px;
 		width: 171px;
    height: 195px;
    background-position: -545px -335px;
}

.service-item.credit::before {
	top: 60px;
	right: 70px;
 width: 156px;
    height: 188px;
    background-position: -5px -5px;
}

/*меньшая вложенность здесь не получается*/

#btn-4:checked ~ .slider-inner .service-item.delivery,
#btn-5:checked ~  .slider-inner .service-item.warranty,
#btn-6:checked ~ .slider-inner .service-item.credit {
 display: block;
}

.service-item h2 {
	margin: 0;
	font-size: 47px;
	line-height: 1.2em;
	font-weight: 800;
	
}

.service-item p {
	width: 435px;
	font-family: "Open Sans", Arial, sans-serif;
	font-weight: 300;
	font-size: 15px;
	line-height: 30px;
	letter-spacing: 0.01em;
	color: #444444;
	}


.logotypes {
  margin-bottom: 90px;
}

.logotypes a {
	width: 260px;
	height: 100px;
	font-size: 0;
	background-image: url("../img/spritesheet.png");
  background-repeat: no-repeat;

}

.logotypes .dji {
	background-position: -5px -289px;
}


.logotypes .dji:hover {
	background-position: -171px -179px;
}


.logotypes .gadgets {
 background-position: -5px -399px;
}


.logotypes .gadgets:hover {
	background-position: -275px -289px;
}


.logotypes .gopro {
 background-position: -317px -5px;
}


.logotypes .gopro:hover {
	background-position: -275px -399px;
}


.logotypes .vive {
	background-position: -545px -225px;
}


.logotypes .vive:hover {
  background-position: -441px -115px;
}

.info {
	margin-bottom: 80px;
}

.info  section {
	width: 560px;
	
}

.info h2 {
	font-size: 47px;
	line-height: 1.2em;
	font-weight: 800;
}

.info p {
	font-family: "Open Sans", Arial, sans-serif;
	font-weight: 300;
	font-size: 15px;
	line-height: 30px;
	color: #444444;
}

.info a {
	letter-spacing: 0.2em;
	text-transform: uppercase;
	
}

 .about-us p {
	width: 475px;

}

.about-us a {
 	position: relative;
 	display: block;
 	width: 260px;
 	padding-top: 11px;	
 	padding-bottom: 11px;
	text-align: center;

 }

 .about-us a::before {
 	position: absolute;
 	z-index: -1;
 	top: 17px;
 	content: "";
 	display: block;
 	width: 260px;
 	height: 8px;
 	background-color: #ffc600;
 }

 .about-us a:hover {
 	background-color: #ffc600;
 }

 .about-us a:active {
 	color: rgba(0, 0, 0, 0.3);
 }

.write-us {
 	position: relative;
 	display: block;
 	width: 260px;
 	padding-top: 11px;	
 	padding-bottom: 11px;
	text-align: center;

 }

 .write-us::before {
 	position: absolute;
 	z-index: -1;
 	top: 17px;
 	content: "";
 	display: block;
 	width: 260px;
 	height: 8px;
 	background-color: #ffc600;
 }

 .write-us:hover {
 	background-color: #ffc600;
 }

 .write-us:active {
 	color: rgba(0, 0, 0, 0.3);
 }


.logistics {
	margin: 0;
	padding: 0;
	font-size: 16px;
	line-height: 40px;
	list-style: none;
	}

	.logistics li {
		position: relative;
		padding-left: 35px;
	}


	.logistics li::before {
		position: absolute;
		top: 15px;
		left: 0;
		content: "";
		display: block;
		width: 4px;
		height: 4px;
		border-radius: 50%;
		border: 3px solid rgba(0, 0, 0, 0.3);
	}




.write-form {
	width: 760px;
	padding: 95px 100px 85px 100px;

	}

form.wrapper {
		flex-wrap: wrap;
	}


.wtite-form label,
.write-form input,
.write-form textarea {
	display: block;
}

.write-form label {
	line-height: 18px;
	letter-spacing: 0;
}

input[name="name"],
input[name="email"] {
	width: 360px;
	margin-top: 8px;
	margin-bottom: 35px;
}

.write-form textarea {
	width: 760px;
	height: 156px;
	margin-top: 8px;
	margin-bottom: 50px;

}



/*футер*/	

.main-footer {
	
	padding-top: 65px;
	padding-bottom: 65px;
	color: #ffffff;
	background-color: #444444;
}

.main-footer a{
	color: #ffffff;
}




a.footer-logo{
	margin-bottom: 20px;
	font-family: "Gilroy", Arial, sans-serif;
	font-weight: 800;
	font-size: 48px;
	line-height: 1.2em;
	letter-spacing: 0.01em;
	text-transform: uppercase;
	color: #ffe27f;

}

.footer-logo:hover {
 color: #ffc600;
}

.footer-logo:active {
	color: rgba(255, 198, 0, 0.3);
}



.footer-personal {
	margin: 0;
	padding: 0;
	list-style: none;
}


.footer-personal a {
	position: relative;
	padding-left: 25px;
	margin-left: 40px;
	font-family: "Open Sans", Arial, sans-serif;
	font-weight: 300;
	font-size: 15px;
	line-height: 36px;
	letter-spacing: 0.01em;
	color: rgba(255, 255, 255, 0.7);
}

.footer-personal a:hover {
 color: rgb(255, 255, 255);
}

.footer-personal a:active {
	opacity: 0.3;
}

.footer-personal a::before {
	position: absolute;
	bottom: 3px;
	left: 5px;
	content: "";
	display: block;
	background-image: url("../img/icons/icons-sprite.png");
  background-repeat: no-repeat; 
}

.footer-user::before {
	width: 13px;
  height: 12px;
  background-position: -10px -563px;
}

.footer-user:hover::before,
.footer-user:active::before {
	width: 13px;
    height: 12px;
     background-position: -10px -595px;

}

.footer-compare::before {
	width: 10px;
    height: 10px;
    background-position: -10px -74px;
}

.footer-compare:hover::before,
.footer-compare:active::before {
	width: 10px;
    height: 10px;
    background-position: -10px -104px;
}



.footer-basket::before {
	 width: 12px;
    height: 12px;
    background-position: -10px -10px;
}

.footer-basket:hover::before,
.footer-basket:active::before {
	width: 12px;
    height: 12px;
    background-position: -10px -42px;
}






.footer-service {
	width: 440px;
	margin: 0 0 60px 0;
	padding: 0;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	list-style: none;

}

.footer-service a:hover {
	color: rgba(255, 255, 255, 0.6);
}

.footer-service a:active {
	color: rgba(255, 255, 255, 0.3);
}

.address,
.tel {
	font-family: "Open Sans", Arial, sans-serif;
	font-weight: 300;
	font-size: 15px;
	line-height: 30px;
	letter-spacing: 0;
	text-transform: none;

}

.social a {
	display: inline-block;
	width: 40px;
	height: 40px;
	margin: 0 7px;
	font-size: 0;
	vertical-align: top;
	background-image: url("../img/icons/icons-sprite.png.png");
  background-repeat: no-repeat; 
  opacity: 0.3;

}

.social a:hover {
	opacity: 1;

}

.social a:active {
	opacity: 0.1;
}


.social .btn-fb {
	 background-position: -10px -134px;
}


.social .btn-inst{
	background-position: -10px -394px;
}

.social .btn-tw {
	background-position: -5px -510px;
}

.social::before {
	content: "";
	display: inline-block;
	width: 80px;
	height: 7px;
	background-color: #ffe27f;
	margin-right: 380px;
}


.copyright a {
	display: inline-block;
	width: 30px;
	height: 40px;
	font-size: 0;
	vertical-align: top;
	background-image: url("../img/icons/icons-sprite.png.png");
  background-repeat: no-repeat; 
  background-position: -10px -286px;

}

.copyright a:hover {
	background-position: -10px -340px;
}

.copyright a:active {
	background-position: -10px -340px;
	opacity: 0.3;
}


/*каталог*/


.catalog-main h1{
	padding-left: 60px;
	margin: 70px 0 15px 0;
	font-size: 47px;
	line-height: 1.2em;
	font-weight: 800;
	

}


.breadcrumbs {
	padding: 0 0 0 60px;
	margin:  0 0 40px 0;
	list-style: 0;
}

.breadcrumbs li{
	display: inline-block;
	padding-right: 40px;

}

.breadcrumbs a {
	display: block;
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: "Open Sans", Arial, sans-serif;
	font-weight: 300;
	font-size: 14px;
	line-height: 36px;
	letter-spacing: 0.01em;
	color: rgba(0, 0, 0, 0.3);
}



.breadcrumbs a:not(.current):hover {
	color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a:not(current):active {
	color: rgba(0, 0, 0, 0.1);
}

.filters.wrapper,
.results.wrapper {
	flex-direction: column;
	justify-content: flex-start;
	flex-grow: 1;

}
.filters {
	background-image: linear-gradient(to bottom,#dcdcdc 70px, #efefef 70px)
}

.filters h2,
.filters form {
	width: 270px;
	padding-left: 60px;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: auto;

}

/* вот здесь не очень красивый момент: высота блоков .filters h2
 и .container-sort h2 может измениться, но эти блоки должны 
 находиться над определенным цветом, а "высота" цвета у нас фиксированная */

 .filters h2,
 .container-sort h2 {
 	padding-top: 25px;
 	padding-bottom: 25px;
 	font-size: 16px;
 	line-height: 1.2em;
 	letter-spacing: 0.2em;
 	text-transform: uppercase;
 }

 .filters h2 {
 	font-weight: 800;
 }

 .filters h3 {
 	font-family: "Gilroy", Arial, sans-serif;
	font-weight: 800;
 	font-size: 18px;
 	line-height: 1.2em;
 	
 	}

.filters label {
	display: block;
	font-family: "Open Sans", Arial, sans-serif;
	font-weight: 300;
	font-size: 14px;
	line-height: 40px;
	letter-spacing: 0.01em;
}

.filters-color input {
	display: none;
}

.filters-color label {
	position: relative;
	padding-left: 40px;
}

.filters-color label::before {
  position: absolute;
  left: 0;
  bottom: 8px;
  content: "";
  display: block;
  width: 23px;
  height: 23px;
  background-color: #dcdcdc;
}

.filters-color label:hover::before {
	background-color: #cfcfcf;
}

.filters-color label::after {
	position: absolute;
	left: 6px;
	bottom: 16px;
	content: "";
	display: none;
	width: 12px;
	height: 7px;
	background-image: url("../img/icons/icons-sprite.png.png");
	background-repeat: no-repeat; 
	background-position: -10px -488px;
}

.filters-color input:checked + label::after {
	display: block;
}

.filters-bluetooth input {
	display: none;
}

.filters-bluetooth label {
	position: relative;
	padding-left: 40px;
}

.filters-bluetooth label::before {
  position: absolute;
  left: 0;
  bottom: 8px;
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border: 2px solid #c7c7c7;
  border-radius: 50%;
  
}

.filters-bluetooth label:hover::before {
	border-color: #bdbdbd;
}

.filters-bluetooth label::after {
  position: absolute;
  left: 8px;
  bottom: 16px;
  content: "";
  display: none;
  width: 5px;
  height: 5px;
  border: 2px solid #000000;
  border-radius: 50%;
  
}

.filters-bluetooth input:checked + label::after {
	display: block;
}

.filters-form button {
	position: relative;
 	display: block;
 	width: 200px;
 	padding: 11px 0;	
 	margin: 0;
	text-align: center;
	border:none;
	background-color: transparent;

}

/*здесь тоже проблема: при заданном z-index:-1;  псевдоэлемент "проваливается" ниже ниже слоя с бэкграундом
(это aside, у которого position:static; и который в играх с z-index учавствовать не должен
Решение: как вариант, само слово "Показать" повесить на ::after ) */

 .filters-form button::before {
 	position: absolute;
 	z-index: -1;
 	top: 17px;
 	content: "";
 	display: block;
 	width: 200px;
 	height: 8px;
 	background-color: #ffc600;
 }

 .filters-form button:hover {
 	background-color: #ffc600;
 }

 .filters-form button:active {
 	color: rgba(0, 0, 0, 0.3);
 }

 .results {
 	background-image: linear-gradient(to bottom, #ebebeb 70px, transparent 70px)
 }

 .container-sort,
 .products{
  width: 760px;
 	padding-left: 70px;
 	margin-right: auto;
 }

.container-sort {
 	margin-bottom: 60px;
 	}

 .container-sort.wrapper {
 	align-items: baseline;
 }

.container-sort h2{
	margin: 0;
	font-weight: 800;
}

 .container-sort ul {
 	margin: 0;
 	padding: 0;
 	list-style: none;
 }

 .container-sort li{
 	display: inline-block;

 }
 .container-sort a{
 	font-family: "Open Sans", Arial, sans-serif;
 	font-weight: normal;
 	font-size: 14px;
 	line-height: 18px;
  }

.products.wrapper {
	flex-wrap: wrap;
	

}
.products-item {
	width: 360px;
	margin-top: 10px;
	margin-bottom: 40px;

	
}

.products-item:nth-child(odd){
	margin-right: 40px;
}

.name-and-price.wrapper {
	align-items: baseline;
}

.products-item h1 {
	margin: 35px 0 0 0;
	padding-left: 0;
	width: 260px;
	font-size: 18px;
	line-height: 1.2em;
	font-weight: 800;

}

.products-item span {
	font-family: "Gilroy", Arial, sans-serif;
	font-weight: 300;
	font-size: 16px;
	line-height: 1.2em;
}

.products-item .products-purshase{
	display: none;
}

.products-paginator {
	width: 730px;
	padding: 15px;
	margin-top: 0;
	margin-bottom: 75px;
	margin-right: auto;
	margin-left: 70px;
	background-color: #ebebeb;
	list-style: none;
	
}

.products-paginator li:first-child {
	margin-right: auto;
}

.products-paginator li:last-child {
	margin-left: auto;
}

.products-paginator a {
	display: block;
	padding: 10px;
	text-transform: uppercase;
}

