body {
	font-family: Gilroy, sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 1.2em;
	letter-spacing: 0.01em;
	color: #000000;
	}
h1 {
	margin: 0;
}

h2 {
	font-size: 47px;
	line-height: 1.2em;
	margin: 0;
	
}

p {
	font-family: "Open Sans";
	font-weight: 300;
	font-size: 15px;
	line-height: 30px;
	color: #444444;
	}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
	
}

 a {
	text-decoration: none;
	color: #000000;
}
.container {
  width: 1160px;
	margin: 0 auto;
	padding-right: 20px;
	padding-left: 20px;
}

.wrapper {
	display: flex;
	justify-content: space-between;
}

.logo {
	padding-left: 60px;
	font-size: 48px;
	text-transform: uppercase;
}


.user-block{
	padding-top: 10px;
	padding-right: 60px;
	padding-bottom: 15px;
	padding-left: 60px;
	font-family: "Open Sans";
	font-weight: 300;
	font-size: 15px;
	line-height: 36px;
	letter-spacing: 0.01em;
	color: #000000;
}

.search{
	flex-basis: 520px;

}

.personal{
	flex-basis: 520px;
}

.personal a{
	display: block;
	width: 100px;
	margin-left: 20px;
	text-align: right;
}

.personal li:nth-last-child(2) {
	margin-left: auto;
}

.personal .user-name {
	width: 160px;

}

.service-block{
	position: relative;
	padding: 20px 60px 0;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	
}

.catalog {
	flex-basis: 520px;
	padding-bottom: 20px;

}

.catalog.wrapper,
.description.wrapper {
flex-direction: column;
}

.service {
flex-basis: 520px;

}

.service li:last-child {
margin-left: auto;
}

.service a {
	display: block;
	width: 155px;
	text-align: center;
}

.catalog-items {
	display: none;
}

.catalog-items li{
	width: 200px;
}

.catalog-items li:first-child {
	padding-right: 40px;
}
.catalog-items li:nth-child(5) {
	padding-bottom: 36px;
}
.catalog-items a {
	font-family: "Open Sans";
	font-weight: 300;
	font-size: 15px;
	line-height: 36px;
	letter-spacing: 0.01em;
	text-transform: none;

}
.catalog:hover .catalog-items{
	position: absolute;
	top: 60px;
	right: 0px;

	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-content: flex-start;
	width: 1100px;
	height: 110px;
	padding-bottom: 30px;
	padding-left: 60px;

	background-color: #ffe27f;
}

/*main*/

.promo-slider {
	padding-top: 35px;
	margin-bottom: 100px;
}

.promo-item {
	height: 500px;
}

.promo-item img {
	width: 560px;
	height: 500px;
	margin-right: 20px;

}

.description {
	width: 510px;
	padding-right: 50px;
	padding-left: 20px;

}
 .description h2 {
 	margin-top: 85px;
 	margin-bottom: 0px;
 }

 .description a {
 	
	letter-spacing: 0.2em;
	text-transform: uppercase;

 }
 
.promo-property li{
	display: inline-block;
	margin-right: 75px;
}

.promo-property span:first-child {
	display: block;
	font-weight: 300;
	font-size: 36px;
	margin-bottom: 15px;
	

}
.promo-property span:last-child {
	display: block;
	font-family: "Open Sans";
	font-weight: 300;
	font-size: 13px;
	line-height: 20px;
	letter-spacing: 0.01em;
}

 .popular {
 	margin-bottom: 160px;
 }

 .popular-item {
 	position: relative;
 	width: 160px;
 	height: 160px;
 	background-color: #ffe27f;
 	overflow: visible;
 }

 .popular-item a {
 	position: absolute;
 	top: 0;
 	left: 0;
 	display: block;
 	width: 160px;
 	padding-top: 200px;
 	background-repeat: no-repeat;
 	

 }

 .popular-item:nth-child(1) a {
background-image: url("../img/virtual-reality.png");
}

.popular-item:nth-child(2) a {
background-image: url("../img/monopod.png");
}

.popular-item:nth-child(3) a {
background-image: url("../img/action-camera.png");
}

.popular-item:nth-child(4) a {
background-image: url("../img/fitness-bracelets.png");
}

.popular-item:nth-child(5) a {
background-image: url("../img/smart-watch.png");
}
.popular-item:nth-child(6) a {
background-image: url("../img/quadrocopter.png");
}

.service-slider {
	position: relative;
	margin-bottom: 160px;
}

.service-slider::after {
	position: absolute;
	top: 100px;
	content: "";
	display: block;
	width: 100%;
	height: 288px;
	z-index: -1;
	background-color: #e6e6e6;
}

.slider-inner {
	overflow: hidden;
}

.slider-slides {
	height: 300%;
	
}

.container.wrapper {
	flex-direction: column;
	flex-wrap: wrap;
	height: 320px;
	overflow: hidden;

}
.service-slider input {
	display: none;
}


.service-slider label {
	width: 160px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 25px;
	text-align: center;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	
}

.service-slider label:first-of-type {
	margin-top: 80px;
}

.service-item {
	height: 250px;
	width: 760px;
	padding-left: 116px;
	padding-top: 70px;
	border-left: 7px solid black;
	
}

.service-item p {
	width: 435px;
	letter-spacing: 0.01em;
}


.logotypes {
  margin-bottom: 90px;
}

.info {
margin-bottom: 80px;
}

.info  section {
	width: 560px;
	
}
.info a {
	letter-spacing: 0.2em;
	text-transform: uppercase;
	
}

.info .about-us p {
	width: 475px;
}

.info .logistics {
	font-size: 16px;
	line-height: 40px;
	}

	.write-us {
		width: 760px;
		padding: 95px 100px 85px 100px;
		
	}

	form.wrapper {
		flex-wrap: wrap;
	}


.wtite-us label,
.write-us input,
.write-us textarea {
	display: block;
}

	input[name="name"],
	input[name="email"] {
		width: 360px;
		margin-top: 8px;
		margin-bottom: 35px;
	}

	.write-us textarea {
		width: 760px;
		height: 156px;
		margin-top: 8px;
		margin-bottom: 50px;

	}



/*футер*/	

.main-footer {
	
	padding-top: 65px;
	padding-bottom: 65px;
	color: #ffffff;
	background-color: #444444;
}

.main-footer a{
	color: #ffffff;
}



.footer-logo{
	margin-right: auto;
	margin-bottom: 20px;

}

.footer-logo a {
	font-family: Gilroy, sans-serif;
	font-weight: 800;
	font-size: 48px;
	line-height: 1.2em;
	letter-spacing: 0.01em;
	text-transform: uppercase;
	color: #ffe27f;

}

.main-footer .user-block li:not(.footer-logo) {
	width: 110px;
	text-align: right;
}


.main-footer .service {
	width: 440px;
	margin-bottom: 60px;
	letter-spacing: 0.2em;
	text-transform: uppercase;

}

.address,
.tel {
	font-family: "Open Sans";
	font-weight: 300;
	font-size: 15px;
	line-height: 30px;
	letter-spacing: 0;
	text-transform: none;

}


.social::before {
	content: "";
	display: inline-block;
	width: 80px;
	height: 7px;
	background-color: #ffe27f;
	margin-right: 380px;
}

/*каталог*/


.catalog-main h1{
	padding-left: 60px;
	margin-top: 70px;
	margin-bottom: 15px;
	font-size: 47px;
	

}


.breadcrumbs {
	padding-left: 60px;
	margin-bottom: 40px;
}

.breadcrumbs li{
	display: inline-block;
	padding-right: 40px;

}

.breadcrumbs a {
	display: block;
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: "Open Sans";
	font-weight: 300;
	font-size: 14px;
	line-height: 36px;
	letter-spacing: 0.01em;
	color: #000000;
}

.filters.wrapper,
.results.wrapper {
	flex-direction: column;
	justify-content: flex-start;
	flex-grow: 1;

}
.filters {
	background-image: linear-gradient(to bottom,#dcdcdc 70px, #efefef 70px)
}

.filters h2,
.filters form {
	width: 270px;
	padding-left: 60px;
	margin-left: auto;
}

 .filters h2,
 .container-sort h2 {
 	height: 70px;
 	font-size: 16px;
 	line-height: 70px;
 	letter-spacing: 0.2em;
 	text-transform: uppercase;
 }

 .filters h3 {
 	font-size: 18px;
 	font-weight: 800;
 }

.filters label {
	display: block;
	font-family: "Open Sans";
	font-weight: 300;
	font-size: 14px;
	line-height: 40px;
	letter-spacing: 0.01em;
}

 .results {
 	background-image: linear-gradient(to bottom, #ebebeb 70px, transparent 70px)
 }

 .container-sort,
 .products{
  width: 760px;
 	padding-left: 70px;
 	margin-right: auto;
 }

.container-sort {
 	margin-bottom: 60px;
 	}

 .container-sort.wrapper {
 	align-items: baseline;
 }

 .container-sort li{
 	display: inline-block;

 }
 .container-sort a{
 	font-family: "Open Sans";
 	font-size: 14px;
 	line-height: 18px;
 	font-weight: 400;
 }

.products.wrapper {
	flex-wrap: wrap;
	

}
.products-item {
	width: 360px;
	margin-top: 10px;
	margin-bottom: 40px;

	
}

.products-item:nth-child(odd){
	margin-right: 40px;
}

.name-and-price.wrapper {
	align-items: baseline;
}

.products-item h1 {
	font-size: 18px;
	margin-top: 35px;
	padding-left: 0;
	width: 260px;

}

.products-item span {
	font-weight: 300;
	font-size: 16px;
	line-height: 1.2px;
}

.products-item .products-purshase{
	display: none;
}

.products-paginator {
	width: 730px;
	padding: 15px;
	margin-bottom: 75px;
	margin-right: auto;
	margin-left: 70px;
	background-color: #ebebeb;
	
}

.products-paginator li:first-child {
	margin-right: auto;
}

.products-paginator li:last-child {
	margin-left: auto;
}

.products-paginator a {
	display: block;
	padding: 10px;
	text-transform: uppercase;
}

