@font-face {
	font-family: "Gilroy";
	src: 
		local("Gilroy ExtraBold"), local("Gilroy-ExtraBold"),
		url("../fonts/gilroyextrabold.woff2") format("woff2"),
		url("../fonts/gilroyextrabold.woff") format("woff");
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: "Gilroy";
	src: 
		local("Gilroy Light"), local("Gilroy-Light"),
		url("../fonts/gilroylight.woff2") format("woff2"),
		url("../fonts/gilroyexlight.woff") format("woff");
	font-weight: 300;
	font-style: normal;
} 

@font-face {
	font-family: "Open Sans";
	src: 
		local("Open Sans Light"), local("OpenSans-Light"), 
		url("../fonts/opensanslight.woff2") format("woff2"),
		url("../fonts/opensanslight.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "Open Sans";
	src: 
		local("Open Sans"), local("OpenSans"), 
		url("../fonts/opensans.woff2") format("woff2"),
		url("../fonts/opensans.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}


body {
	min-width: 1200px;
	font-family: "Gilroy", Arial, sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 1.2em;
	letter-spacing: 0.01em;
	color: #000000;
}


a {
	text-decoration: none;
	color: #000000;
}

img {
	max-width: 100%;
	height: auto;
}

.main-header {
	padding-top: 12px;
}

.container {
  width: 1160px;
	margin: 0 auto;
	padding-right: 20px;
	padding-left: 20px;
}

.wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.main-header .container {
	position: relative;
}

.main-header .container::before {
	position: absolute;
	top: 27px;
	z-index: -1;
	content: "";
	display: block;
	width: 1160px;
	height: 190px;
	background-color: #ffe27f;
}


.logo {
	padding-left: 55px;
	font-size: 48px;
	line-height: 1.2em;
	letter-spacing: 0.01em;
	text-transform: uppercase;
}

.logo a:hover {
	color: #444444;
}

.logo a:active {
	color: #666666;
}

.main-header .user-block{
	padding-top: 5px;
	padding-right: 60px;
	padding-bottom: 14px;
	padding-left: 60px;
	font-family: "Open Sans", Arial, sans-serif;
	font-weight: 300;
	font-size: 15px;
	line-height: 36px;
	letter-spacing: 0.01em;
	color: #000000;
	-webkit-box-align: baseline;
	    -ms-flex-align: baseline;
	        align-items: baseline;
}

.search-form{
	-ms-flex-preferred-size: 440px;
	
	    flex-basis: 440px;
	font-size: 0;
}

.search-form .search {
	width: 311px;
	height: 45px;
	padding:0 0 0 38px;
	box-sizing: content-box;
	font-family: "Open Sans", Arial, sans-serif;
	font-weight: 300;
	font-size: 15px;
	line-height: 36px;
	letter-spacing: 0.01em;
	color: #000000;
	background-color: transparent;
	background-image: url("../img/icons/icons-sprite.png");
	background-repeat: no-repeat; 
	background-position: -10px -440px;
	border: none;
	border-top: 2px solid transparent;
	border-bottom: 2px solid transparent;
	vertical-align: bottom;
}

.search::-webkit-input-placeholder{
	color: rgba(0, 0, 0, 0.3);
}

.search::-moz-placeholder{
	color: rgba(0, 0, 0, 0.3);
}

.search:-ms-input-placeholder{
	color: rgba(0, 0, 0, 0.3);
}

.search:hover::-webkit-input-placeholder{
	color: rgba(0, 0, 0, 0.6);
}

.search:hover::-moz-placeholder {
	color: rgba(0, 0, 0, 0.6);
}

.search:hover:-ms-input-placeholder{
	color: rgba(0, 0, 0, 0.6);
}

.search:focus {
	border-bottom: 2px solid black;
	outline: none;
}

.search-form .btn {
	display: none;
	font-family: "Open Sans", Arial, sans-serif;
	font-weight: 300;
	font-size: 15px;
	line-height: 36px;
	letter-spacing: 0.01em;
	color: #000000;
	vertical-align: bottom;
}

.search:focus + .btn {
 display: inline-block;
 width: 81px;
 height: 45px;
 padding: 0;
 box-sizing: content-box;
 font-family: "Open Sans", Arial, sans-serif;
	font-weight: 300;
	font-size: 15px;
	line-height: 36px;
	letter-spacing: 0.01em;
	color: #000000;
 background-color: transparent;
 border: 2px solid black;
 vertical-align: bottom;
}


.search:focus + .btn:hover {
	background-color: #000000;
	color: #ffffff;
}



.btn:active {
	display: inline-block;
	width: 81px;
	height: 45px;
	padding: 0;
	box-sizing: content-box;
 font-family: "Open Sans", Arial, sans-serif;
	font-weight: 300;
	font-size: 15px;
	line-height: 36px;
	letter-spacing: 0.01em;
	color: rgba(255, 255, 255, 0.3);
	background-color: #000000;
	border: 2px solid black;
	outline: none;
	vertical-align: bottom;
}

.personal{
	-ms-flex-preferred-size: 500px;
	    flex-basis: 500px;
	margin: 0;
	padding: 0;
	list-style: none;
}

.personal li:nth-last-child(2) {
	margin-left: auto;
}

.personal a:not(.exit){
	position: relative;
	display: block;
	padding-left: 25px;
	
}



.personal .exit {
	margin-left: 15px;
	color: rgba(0, 0, 0, 0.3);
	
}

.personal .basket {
	margin-left: 40px;
}

.personal a::before {
	position: absolute;
	content: "";
	display: block;
	background-image: url("../img/icons/icons-sprite.png");
  background-repeat: no-repeat; 
}

.personal .user::before {
	left: 0px;
	bottom: 12px;
	width: 13px;
  height: 12px;
  background-position: -10px -254px;
}

.personal .compare::before {
	bottom: 12px;
	left: 5px;
	width: 10px;
 	height: 10px;
  background-position: -10px -224px;
}

.personal .basket::before {
	bottom: 11px;
	left: 3px;
	width: 12px;
  height: 12px;
  background-position: -10px -192px;
}

.personal .exit::before {
	display: none;
}

.personal a:not(.exit):hover {
	opacity: 0.6;
}

.personal a:not(.exit):active {
	opacity: 0.3;
}

.main-header .service-block{
	position: relative;
	padding: 18px 58px 0;
	letter-spacing: 0.2em;
	text-transform: uppercase;
}

.service-block a:hover {
	color: rgba(0, 0, 0, 0.6);
}

.service-block a:active {
	color: rgba(0, 0, 0, 0.3);
}

.catalog {
	-ms-flex-preferred-size: 500px;
	    flex-basis: 500px;
	padding-bottom: 20px;
}

.catalog-title {
	position: relative;
	padding-right: 28px;
}

.catalog-title::before,
.catalog-title::after {
	position: absolute;
	top: 9px;
	right: 0;
	content: "";
	display: block;
	width: 16px;
	height: 2px;
	background-color: rgba(0, 0, 0, 0.3);
}

.catalog-title::after {
		-webkit-transform: rotate(90deg);
	        transform: rotate(90deg);
}

.catalog-title:hover::before,
.catalog-title:hover::after {
	background-color: rgba(0, 0, 0, 0.2);
}

.catalog-title:active::before,
.catalog-title:active::after {
	background-color: rgba(0, 0, 0, 0.1);
}

.catalog-items {
	position: absolute;
	top: 60px;
	right: 0px;
	z-index: 1;
	display: none;
	width: 650px;
	margin: 0;
	padding: 0 450px 35px 60px;
	list-style: none;
	background-color: #ffe27f;
}

.catalog:hover .catalog-items{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
}

.catalog-items li{
	width: 200px;
	-ms-flex-negative: 0;
	    flex-shrink: 0;
}

.catalog-items li:nth-child(1),
.catalog-items li:nth-child(4),
.catalog-items li:nth-child(5) {
	padding-right: 38px;
}


.catalog-items a {
	font-family: "Open Sans", Arial, sans-serif;
	font-weight: 300;
	font-size: 15px;
	line-height: 36px;
	letter-spacing: 0.01em;
	text-transform: none;
}


.service {
	-ms-flex-preferred-size: 500px;
	    flex-basis: 500px;
	margin: 0;
	padding: 0;
	list-style: none;
}

.service li:first-child {
	margin-right: 30px;
}

.service li:last-child {
	margin-left: auto;
}

.service a {
	display: block;
}

/*main*/

.promo-slider {
	position: relative;
	margin-bottom: 95px;
	padding-top: 30px;
}

.promo-slider::before {
	position: absolute;
	top: 30px;
	left: 0;
	z-index: -1;
	content: "";
	display: block;
	width: 1160px;
	height: 113px;
	background-color: #ffe27f;
}

.promo-slider input {
	display: none;
}

.promo-controls {
	position: absolute;
	right: 84px;
	top: 360px;
	z-index: 2;
	font-size: 0;
}

.promo-controls label {
	display: inline-block;
	width: 4px;
	height: 4px;
	margin-left: 23px;
	border-radius: 50%;
	border: 3px solid rgba(0, 0, 0, 0.3);
	vertical-align: top;

}

.promo-controls label:hover {
	border-color: rgba(0, 0, 0, 0.4);
}

#btn-1:checked ~ .promo-controls label[for="btn-1"],
#btn-2:checked ~ .promo-controls label[for="btn-2"],
#btn-3:checked ~ .promo-controls label[for="btn-3"] {
	border-color: #000000;
}

.slider-inner .promo-item {
	display: none;
}

#btn-1:checked ~ .slider-inner .promo-item:nth-child(1),
#btn-2:checked ~ .slider-inner .promo-item:nth-child(2),
#btn-3:checked ~ .slider-inner .promo-item:nth-child(3) {
	display: flex;
}

.promo-item img {
	width: 560px;
	height: 500px;
	margin-right: 20px;
}

.description {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	width: 515px;
	padding-right: 50px;
	padding-left: 15px;
}

.description h2 {
 	margin: 81px 0 0 0;
 	padding: 0;
 	font-size: 47px;
	line-height: 1.2em;
	letter-spacing: 0.01em;
 	font-weight: 800;
}

 
.description h2::before {
 		position:absolute;
 		right: 460px;
 		top: 69px;
 		content: "";
 		display: block;
 		width: 100px;
 		height: 7px;
 		background-color: #ffffff;
}

.description h2::after {
	position:absolute;
	top: 18px;
	right: 47px;
	z-index: -1;
	content: "01";
	display: block;
	font-family: "Gilroy", Arial, sans-serif;
	font-weight: 800;
	font-size: 179px;
	line-height: 179px;
	letter-spacing: 0.01em;
	color: #ffffff;
}

.promo-item:nth-child(2) h2::after {
	content: "02";
}

.promo-item:nth-child(3) h2::after {
	content: "03";
}

.description p {
 	width: 465px;
 	margin: 19px 0 43px 5px;
 	font-family: "Open Sans", Arial, sans-serif;
	font-weight: 300;
	font-size: 15px;
	line-height: 30px;
	letter-spacing: 0.01em;
	color: #444444;
}

.promo-item:first-child p {
 	width: 485px;
}

.description a {
 	position: relative;
 	display: block;
 	width: 220px;
 	margin-left: 5px;
 	padding-top: 10px;	
 	padding-bottom: 10px;
 	letter-spacing: 0.2em;
	text-transform: uppercase;
	text-align: center;
}

.description a::before {
 	position: absolute;
 	top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: -1;
 	content: "";
 	display: block;
 	width: 220px;
 	height: 8px;
 	background-color: #ffc600;
}

.description a:hover {
 	background-color: #ffc600;
}

.description a:active {
 	color: rgba(0, 0, 0, 0.3);
}

.promo-property {
 	margin: auto 0 0 5px;
 	padding: 0;
 	list-style: none;
}
 
.promo-property li{
	display: inline-block;
	margin-right: 74px;
	vertical-align: top;
}

.promo-item:last-child li {
	margin-right: 42px;
}

.promo-property span:first-child {
	display: block;
	margin-bottom: 9px;
	font-family: "Gilroy", Arial, sans-serif;
	font-weight: 300;
	font-size: 36px;
	line-height: 1.2em;
}

.promo-property span:last-child {
	display: block;
	margin-bottom: 10px;
	padding-bottom: 10px;
	font-family: "Open Sans", Arial, sans-serif;
	font-weight: 300;
	font-size: 13px;
	line-height: 20px;
	letter-spacing: 0.01em;
}

.popular {
 	margin-bottom: 80px;
}

.popular-item {
 	position: relative;
 	width: 160px;
 	height: 160px;
 	margin-bottom: 80px;
 	background-color: #ffe27f;
 	overflow: visible;
}

.popular-item:hover {
 	background-color: #ffc600;
}

.popular-item a {
 	position: absolute;
 	top: 0;
 	left: 0;
 	display: block;
 	width: 160px;
 	padding-top: 195px;
 	background-image: url("../img/popular-sprite.png");
  background-repeat: no-repeat;
}
 
.popular-item .virtual-reality {
	 background-position: -822px -2px;
}

.popular-item .monopod {
	background-position: -330px -2px;
}

.popular-item .action-camera {
	background-position: -2px -2px;
}

.popular-item .fitness-bracelets {
	background-position: -166px -2px;
}

.popular-item .smart-watch {
	background-position: -658px -2px;
}
.popular-item .quadrocopter {
	background-position: -494px -2px;
}

.popular-item a:active {
	opacity: 0.3;
}

.service-slider {
	position: relative;
	margin-bottom: 162px;
}

.service-slider input {
	display: none;
}

.service-slider::after {
	position: absolute;
	top: 100px;
	z-index: -2;
	content: "";
	display: block;
	width: 100%;
	height: 288px;
	background-color: #e6e6e6;
}

.slider-toggles {
	width: 277px;
	padding-top: 80px;
	padding-bottom: 45px;
	border-right: 7px solid black;
}

.slider-toggles label {
	position: relative;
	display: block;
	width: 160px;
	margin-bottom: 24px;
	text-align: center;
	padding-top: 10px;
	padding-right: 113px;
	padding-bottom: 10px;
	padding-left: 4px;
	letter-spacing: 0.2em;
	text-transform: uppercase;
}

.slider-toggles label::before {
	position: absolute;
	top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: -1;
	content: "";
	display: block;
	width: 160px;
	height: 8px;
	background-color: #ffc600;
}

.slider-toggles label:hover{
	margin-right: 113px;
	padding-right: 0px;
	background-color: #ffc600;
}

#btn-4:checked ~ .slider-toggles label[for="btn-4"],
#btn-5:checked ~ .slider-toggles label[for="btn-5"],
#btn-6:checked ~ .slider-toggles label[for="btn-6"] {
	margin-right: 0px;
	padding-right: 113px;
	color: #ffe27f;
	background-color: #000000;
}

.service-item {
 	position: relative;
	display: none;
	width: 760px;
	padding-left: 116px;
	padding-top: 70px;
}

.service-item::before {
	position: absolute;
	content: "";
	display: block;
  background-image: url("../img/spritesheet.png");
  background-repeat: no-repeat;
}

.service-item.delivery::before {
	top: 85px;
	right: 67px;
	width: 136px;
	height: 164px;
	background-position: -171px -5px;
}

.service-item.warranty::before {
	top: 60px;
	right: 45px;
	width: 171px;
	height: 195px;
	background-position: -545px -335px;
}

.service-item.credit::before {
	top: 60px;
	right: 70px;
	width: 156px;
	height: 188px;
	background-position: -5px -5px;
}

#btn-4:checked ~ .slider-inner .service-item.delivery,
#btn-5:checked ~  .slider-inner .service-item.warranty,
#btn-6:checked ~ .slider-inner .service-item.credit {
 display: block;
}

.service-item h2 {
	margin: 0 0 27px 0;
	font-size: 47px;
	line-height: 1.2em;
	font-weight: 800;
	letter-spacing: 0.01em;
}

.service-item p {
	width: 460px;
	margin: 0;
	font-family: "Open Sans", Arial, sans-serif;
	font-weight: 300;
	font-size: 15px;
	line-height: 30px;
	letter-spacing: 0.01em;
	color: #444444;
}

.credit p {
	width: 435px;
}

.logotypes {
  margin-bottom: 95px;
}

.logotypes a {
	width: 260px;
	height: 100px;
	font-size: 0;
	background-image: url("../img/spritesheet.png");
  background-repeat: no-repeat;
}

.logotypes .dji {
	background-position: -5px -289px;
}

.logotypes .dji:hover {
	background-position: -171px -179px;
}

.logotypes .gadgets {
 background-position: -5px -399px;
}

.logotypes .gadgets:hover {
	background-position: -275px -289px;
}

.logotypes .gopro {
 background-position: -317px -5px;
}

.logotypes .gopro:hover {
	background-position: -275px -399px;
}

.logotypes .vive {
	background-position: -545px -225px;
}

.logotypes .vive:hover {
  background-position: -441px -115px;
}

.info {
	margin-bottom: 80px;
}

.info  .wrapper {
	position: relative;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	width: 560px;
}

.info h2 {
	padding-top: 8px;
	font-size: 47px;
	line-height: 1.2em;
	font-weight: 800;
	letter-spacing: 0.01em;
}

.info h2::before {
	position: absolute;
	top: 0;
	left: 0;
	content: "";
	display: block;
	width: 80px;
	height: 7px;
	background-color: #000000;
}

.info p {
	margin: 0 0 30px 0;
	font-family: "Open Sans", Arial, sans-serif;
	font-weight: 300;
	font-size: 15px;
	line-height: 30px;
	letter-spacing: 0;
	color: #444444;
}

.info a {
	letter-spacing: 0.2em;
	text-transform: uppercase;
}

.about-us, 
.contacts {
	position: relative;
}

 .about-us p {
	width: 475px;
}

.about-us a {
 	position: relative;
 	display: block;
 	width: 260px;
 	margin-top: 55px;
 	padding-top: 10px;	
 	padding-bottom: 10px;
 	text-align: center;
}

.about-us a::before {
 	position: absolute;
 	top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: -1;
 	content: "";
 	display: block;
 	width: 260px;
 	height: 8px;
 	background-color: #ffc600;
}

.about-us a:hover {
 	background-color: #ffc600;
}

.about-us a:active {
 	color: rgba(0, 0, 0, 0.3);
}

.write-us {
 	position: relative;
 	display: block;
 	width: 260px;
 	margin-top: 65px;
 	padding-top: 10px;	
 	padding-bottom: 10px;
 	text-align: center;
}

.write-us::before {
 	position: absolute;
 	top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: -1;
 	content: "";
 	display: block;
 	width: 260px;
 	height: 8px;
 	background-color: #ffc600;
}

.write-us:hover {
 	background-color: #ffc600;
}

.write-us:active {
 	color: rgba(0, 0, 0, 0.3);
}

.logistics {
	margin: 35px 0 0 0;
	padding: 0;
	font-size: 16px;
	line-height: 40px;
	list-style: none;
}

.logistics li {
		position: relative;
		padding-left: 35px;
}

.logistics li::before {
		position: absolute;
		top: 15px;
		left: 0;
		content: "";
		display: block;
		width: 4px;
		height: 4px;
		border: 3px solid rgba(0, 0, 0, 0.3);
		border-radius: 50%;
}






/*футер*/	

.main-footer {
	
	padding-top: 57px;
	padding-bottom: 65px;
	color: #ffffff;
	background-color: #444444;
}

.main-footer a{
	color: #ffffff;
}




a.footer-logo{
	margin-bottom: 18px;
	font-family: "Gilroy", Arial, sans-serif;
	font-weight: 800;
	font-size: 48px;
	line-height: 1.2em;
	letter-spacing: 0.01em;
	text-transform: uppercase;
	color: #ffe27f;

}

.footer-logo:hover {
 color: #ffc600;
}

.footer-logo:active {
	color: rgba(255, 198, 0, 0.3);
}



.footer-personal {
	margin: 0;
	padding: 4px 0 0 0;
	list-style: none;
}


.footer-personal a {
	position: relative;
	margin-left: 40px;
	padding-left: 25px;
	font-family: "Open Sans", Arial, sans-serif;
	font-weight: 300;
	font-size: 15px;
	line-height: 36px;
	letter-spacing: 0.01em;
	color: rgba(255, 255, 255, 0.7);
}

.footer-personal a:hover {
 color: rgb(255, 255, 255);
}

.footer-personal a:active {
	opacity: 0.3;
}

.footer-personal a::before {
	position: absolute;
	bottom: 3px;
	left: 5px;
	content: "";
	display: block;
	background-image: url("../img/icons/icons-sprite.png");
  background-repeat: no-repeat; 
}

.footer-user::before {
	width: 13px;
  height: 12px;
  background-position: -10px -563px;
}

.footer-user:hover::before,
.footer-user:active::before {
	width: 13px;
  height: 12px;
  background-position: -10px -595px;

}

.footer-compare::before {
	width: 10px;
  height: 10px;
  background-position: -10px -74px;
}

.footer-compare:hover::before,
.footer-compare:active::before {
	width: 10px;
  height: 10px;
  background-position: -10px -104px;
}



.footer-basket::before {
	width: 12px;
  height: 12px;
  background-position: -10px -10px;
}

.footer-basket:hover::before,
.footer-basket:active::before {
	width: 12px;
  height: 12px;
  background-position: -10px -42px;
}


.footer-service {
	width: 440px;
	margin: 7px 23px 62px 0;
	padding: 0;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	list-style: none;

}

.footer-service li:last-child {
	margin-left: 10px;
}

.footer-service a:hover {
	color: rgba(255, 255, 255, 0.6);
}

.footer-service a:active {
	color: rgba(255, 255, 255, 0.3);
}

.address,
.tel {
	font-family: "Open Sans", Arial, sans-serif;
	font-weight: 300;
	font-size: 15px;
	line-height: 30px;
	letter-spacing: 0;
	text-transform: none;

}
.links {
	position: relative;
}

.social {
	
	margin-left: auto;
	padding-left: 30px;
}

.social a {
	display: inline-block;
	width: 40px;
	height: 40px;
	margin: 0 5px;
	font-size: 0;
	vertical-align: top;
	background-image: url("../img/icons/icons-sprite.png");
  background-repeat: no-repeat; 
  opacity: 0.3;

}

.social a:hover {
	opacity: 1;

}

.social a:active {
	opacity: 0.1;
}


.social .btn-fb {
	 background-position: -10px -134px;
}


.social .btn-inst{
	background-position: -10px -394px;
}

.social .btn-tw {
	background-position: -5px -510px;
}

.social::before {
	position: absolute;
	left: 0;
	bottom: 17px;
	content: "";
	display: inline-block;
	width: 80px;
	height: 7px;
	background-color: #ffe27f;
	vertical-align: top;
}

.copyright {
	margin-left: auto;
}


.copyright a {
	display: inline-block;
	width: 30px;
	height: 40px;
	font-size: 0;
	background-image: url("../img/icons/icons-sprite.png");
  background-repeat: no-repeat; 
  background-position: -10px -286px;
  vertical-align: top;
}

.copyright a:hover {
	background-position: -10px -340px;
}

.copyright a:active {
	background-position: -10px -340px;
	opacity: 0.3;
}




/*модальное окно - форма обратной связи*/

@-webkit-keyframes uprise {
	0% {
    -webkit-transform: translateY(-150%) scale(0);
            transform: translateY(-150%) scale(0);
  } 

  100% {
    -webkit-transform: translateY(-50%) scale(1);
            transform: translateY(-50%) scale(1);
  }
}

@keyframes uprise {
	0% {
    -webkit-transform: translateY(-150%) scale(0);
            transform: translateY(-150%) scale(0);
  } 

  100% {
    -webkit-transform: translateY(-50%) scale(1);
            transform: translateY(-50%) scale(1);
  }
}

@-webkit-keyframes closing {
	0% {
		-webkit-transform: translateY(-50%) scale(1);
		        transform: translateY(-50%) scale(1);
	}
	100% {
		-webkit-transform: translateY(-150%) scale(0);
		        transform: translateY(-150%) scale(0);
	}
}

@keyframes closing {
	0% {
		-webkit-transform: translateY(-50%) scale(1);
		        transform: translateY(-50%) scale(1);
	}
	100% {
		-webkit-transform: translateY(-150%) scale(0);
		        transform: translateY(-150%) scale(0);
	}
}

@-webkit-keyframes sigh {
	
	50% {
		-webkit-transform: translateY(-50%) scale(1.1);
		        transform: translateY(-50%) scale(1.1);
	}

}

@keyframes sigh {
	
	50% {
		-webkit-transform: translateY(-50%) scale(1.1);
		        transform: translateY(-50%) scale(1.1);
	}

}

/*модальное окно - карта*/

.modal-content-map {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-left: -480px;
	-webkit-transform: translateY(-50%);
	        transform: translateY(-50%);
	width: 960px;
	height: 559px;
	background: #ffffff url("../img/map-big.jpg");
	box-shadow: 0 8px 30px 8px rgba(0, 0, 0, 0.15);
}

iframe {
	border: 0;
}



.modal-content {
	display: none;
	position: fixed;
	z-index: 2;
	top: 50%;
	left: 50%;
	-webkit-transform: translateY(-50%);
	        transform: translateY(-50%);
	width: 760px;
	margin-left: -480px;
	padding: 95px 100px 78px 100px;
	background-color: #ffffff;
	box-shadow: 0 8px 30px 8px rgba(0, 0, 0, 0.15);
  
	}

	.modal-content-show {
  display: block;
  -webkit-animation: uprise 1s;
          animation: uprise 1s;
}

.modal-content-closing {
	display: block;
  -webkit-animation: closing 1s;
          animation: closing 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  
}

.modal-error {
  -webkit-animation: sigh 1s;
          animation: sigh 1s;
}


	.modal-content::before {
		position: absolute;
		top: 45px;
		left: 0;
		z-index: -2;
		content: "";
		display: block;
		width: 960px;
		height: 430px;
		box-shadow: 0 15px 30px 12px rgba(0, 0, 0, 0.35);
	}

	.modal-content::after {
		position: absolute;
		z-index: -2;
		top: 0;
		left: 0;
		content: "";
		display: block;
		width: 960px;
		height: 553px;
		background-color: #ffffff;
	}

.modal-content-close {
	position: absolute;
	top: 22px;
	right: 22px; 
	width: 54px;
  height: 54px;
  font-size: 0;
  background-color: rgba(255, 198, 0, 0.5);
  border: 0;
  border-radius: 50%;
  cursor: pointer;
	}

	.modal-content-close:hover {
		background-color: #ffc600;
	}

	.modal-content-close:active {
		outline: none;
	}

.modal-content-close::before,
.modal-content-close::after {
	position: absolute;
	top: 26px;
	right: 10px;
	content: "";
	display: block;
	width: 34px;
	height: 2px;
	border-radius: 1px;
	background-color: #ffffff;
	-webkit-transform: rotate(45deg);
	        transform: rotate(45deg);
}

.modal-content-close::after {
	-webkit-transform: rotate(-45deg);
	        transform: rotate(-45deg);
}

.modal-content-close:active::before,
.modal-content-close:active::after {
	background-color: rgba(255, 255, 255, 0.3);
}


form.wrapper {
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
	}


.modal-content label,
.modal-content input,
.modal-content textarea {
	display: block;
}

.modal-content label {
	line-height: 18px;
	letter-spacing: 0;
}

input[name="user-name"],
input[name="email"] {
	width: 324px;
	margin-top: 8px;
	margin-bottom: 40px;
	padding: 13px 15px;
	font-family: "Open Sans", Arial, sans-serif;
	font-weight: normal;
	font-size: 14px;
	line-height: 18px;
	color: #000000;
	background-color: #f2f2f2;
	border: 3px solid #f2f2f2;
}



.modal-content textarea {
	width: 724px;
	height: 120px;
	margin-top: 8px;
	margin-bottom: 40px;
	padding: 15px;
	font-family: "Open Sans", Arial, sans-serif;
	font-weight: normal;
	font-size: 14px;
	line-height: 18px;
	color: #000000;
	background-color: #f2f2f2;
	border: 3px solid #f2f2f2;
}

input[name="user-name"]:hover,
input[name="email"]:hover,
.modal-content textarea:hover {
	background-color: #ebebeb;
	border-color: #ebebeb;
} 

input[name="user-name"]:focus,
input[name="email"]:focus,
.modal-content textarea:focus {
	background-color: #ffffff;
	border-color: #e5e5e5;
	outline: none;
} 


input[name="email"]:invalid,
input.invalid,
textarea.invalid{
	background-color: #ffdada;
	border-color: #ffdada;
}

.modal-content .send {
	position: relative;
 	display: block;
 	width: 200px;
 	margin: 0;
 	padding: 10px 0;	
 	font-family: "Gilroy", Arial, sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 1.2em;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	text-align: center;
	border:none;
	background-color: transparent;
	

}

  .modal-content .send::before {
 	position: absolute;
 	top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: -1;
 	content: "";
 	display: block;
 	width: 200px;
 	height: 8px;
 	background-color: #ffc600;
 }

.modal-content .send:hover {
 	background-color: #ffc600;
 }

.modal-content .send:active {
 	color: rgba(0, 0, 0, 0.3);
 	outline: none;
 }



/*каталог*/


.catalog-main h1{
	margin: 65px 0 12px 0;
	padding-left: 60px;
	font-size: 47px;
	line-height: 1.2em;
	font-weight: 800;
	letter-spacing: 0.01em;
	

}


.breadcrumbs {
	margin:  0 0 40px 0;
	padding: 0 0 0 60px;
	list-style: 0;
}

.breadcrumbs li{
	display: inline-block;
	padding-right: 17px;
	vertical-align: baseline;

}

.breadcrumbs a {
	position: relative;
	display: block;
	padding-right: 15px;
	font-family: "Open Sans", Arial, sans-serif;
	font-weight: 300;
	font-size: 14px;
	line-height: 36px;
	letter-spacing: 0.01em;
	color: rgba(0, 0, 0, 0.3);
}



.breadcrumbs a:not(.current):hover {
	color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a:not(.current):active {
	color: rgba(0, 0, 0, 0.1);
}

.breadcrumbs a:not(.current)::after {
	position: absolute;
	top: 15px;
	right: -3px;
	content: "";
	display: block;
	width: 4px;
	height: 4px;
	border-top: 2px solid #000000;
	border-right: 2px solid #000000;
-webkit-transform: rotate(45deg);
	        transform: rotate(45deg);
}


.filters.wrapper,
.results.wrapper {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	-webkit-box-flex: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;

}
.filters {
	background-image: -webkit-linear-gradient(top,#dcdcdc 70px, #efefef 70px);
	background-image: linear-gradient(to bottom,#dcdcdc 70px, #efefef 70px);
}


.filters h2,
.filters-form {
	width: 200px;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: auto;
	padding-left: 60px;
	padding-right: 70px;

}

.filters-form {
	padding-top: 40px;
}

/* вот здесь не очень красивый момент: высота блоков .filters h2
 и .container-sort h2 может измениться, но эти блоки должны 
 находиться над определенным цветом, а "высота" цвета у нас фиксированная */

 .filters h2,
 .container-sort h2 {
 	padding-top: 25px;
 	padding-bottom: 25px;
 	font-size: 16px;
 	line-height: 1.2em;
 	letter-spacing: 0.2em;
 	text-transform: uppercase;
 }

 .filters h2 {
 	font-weight: 800;
 }

 .filters h3 {
 	margin: 10px 0 18px 0;
 	font-family: "Gilroy", Arial, sans-serif;
	font-weight: 800;
 	font-size: 18px;
 	line-height: 1.2em;
 	
 	}

 	.filters-bluetooth h3 {
 		margin-top: 15px;
 		
 	}

.filters label {
	font-family: "Open Sans", Arial, sans-serif;
	font-weight: 300;
	font-size: 14px;
	line-height: 40px;
	letter-spacing: 0.01em;
}

.filters-form > div {
	margin-top: 30px;
	border-top: 2px solid #000000;
}

/* фильтр цены*/

.range-controls {
	position: relative;
	padding-top: 20px;
	padding-bottom: 10px;
}

.range-controls .scale {
  height: 2px;
  background: #dcdcdc;
}

.range-controls .bar {
  width: 55%;
  height: 2px;
  background: #72ca00;
}

.range-controls .toggle {
	position: absolute;
  top: 14px;
  left: 0px;
  width: 10px;
  height: 10px;
   border: 2px solid #000000;
  border-radius: 50%;
  background-color: #efefef;
  cursor: pointer;
}

.range-controls .toggle-max {
  left: 108px;
}

.price-controls {
  font-size: 0;
}

.range-controls .toggle:active {
	background-color: #63b000;
	border: 3px solid #ffffff; 
	box-shadow: 0 4px 5px 0px rgba(0, 0, 0, 0.5);
}

.price-controls label {
  display: inline-block;
  vertical-align: baseline;
  width: 90px;
  font-family: "Gilroy", Arial, sans-serif;
	font-weight: 300;
	font-size: 14px;
	line-height: 22.27px;
	letter-spacing: 0;
	color: rgba(0, 0, 0, 0.2);
}

.price-controls input {
 width: 60px;
 font-family: "Gilroy", Arial, sans-serif;
	font-weight: 300;
	font-size: 14px;
	line-height: 22.27px;
	letter-spacing: 0;
	color: rgba(0, 0, 0, 0.2);
 border: none;
 background-color: transparent;
}




.filters-color input {
	display: none;
}

.filters-color label {
	position: relative;
	display: block;
	padding-left: 40px;
}

.filters-color label::before {
  position: absolute;
  left: 0;
  bottom: 8px;
  content: "";
  display: block;
  width: 23px;
  height: 23px;
  background-color: #dcdcdc;
}

.filters-color label:hover::before {
	background-color: #cfcfcf;
}

.filters-color label::after {
	position: absolute;
	left: 6px;
	bottom: 16px;
	content: "";
	display: none;
	width: 12px;
	height: 7px;
	background-image: url("../img/icons/icons-sprite.png");
	background-repeat: no-repeat; 
	background-position: -10px -488px;
}

.filters-color input:checked + label::after {
	display: block;
}

.filters-bluetooth input {
	display: none;
}

.filters-bluetooth label {
	position: relative;
	display: block;
	padding-left: 40px;
}

.filters-bluetooth label::before {
  position: absolute;
  left: 0;
  bottom: 8px;
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border: 2px solid #c7c7c7;
  border-radius: 50%;
  
}

.filters-bluetooth label:hover::before {
	border-color: #bdbdbd;
}

.filters-bluetooth label::after {
  position: absolute;
  left: 8px;
  bottom: 16px;
  content: "";
  display: none;
  width: 5px;
  height: 5px;
  border: 2px solid #000000;
  border-radius: 50%;
  
}

.filters-bluetooth input:checked + label::after {
	display: block;
}

.filters-form button {
	position: relative;
	z-index: 1;
 	display: block;
 	width: 200px;
 	margin: 30px 0 0 0;
 	padding: 10px 0;	
 	font-family: "Gilroy", Arial, sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 1.2em;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	text-align: center;
	border:none;
	background-color: transparent;
	

}

 
 	.filters-form button::before {
 	position: absolute;
 	z-index: -1;
 	top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
 	content: "";
 	display: block;
 	width: 200px;
 	height: 8px;
 	background-color: #ffc600;

 }

 .filters-form button:hover {
 	background-color: #ffc600;
 }

 .filters-form button:active {
 	color: rgba(0, 0, 0, 0.3);
 }

 .results {
 	background-image: -webkit-linear-gradient(top, #ebebeb 70px, #ffffff 70px);
 	background-image: linear-gradient(to bottom, #ebebeb 70px, #ffffff 70px);
 }

 .container-sort,
 .products{
  width: 760px;
 	margin-right: auto;
 	padding-left: 70px;
 }

.container-sort {
 	margin-bottom: 60px;
 	}

 .container-sort.wrapper {
 	-webkit-box-align: baseline;
 	    -ms-flex-align: baseline;
 	        align-items: baseline;
 }

.container-sort h2{
	margin: 0 35px 0 0;
	font-weight: 800;
}

 .container-sort ul {
 	margin: 0;
 	padding: 0;
 	list-style: none;
 }

 .container-sort li{
 	display: inline-block;
 	vertical-align: baseline;

 }
 .container-sort a{
 	font-family: "Open Sans", Arial, sans-serif;
 	font-weight: normal;
 	font-size: 14px;
 	line-height: 18px;
 	letter-spacing: 0;
  }

  ul.products-sort {
  	margin-left: 5px;
  	margin-right: auto;
  }

  .products-sort li {
  	
  	margin-left: 5px;
  }

.products-sort a {
	padding: 10px;
	opacity: 0.3;
}

.products-sort a:hover {
	opacity: 0.6;
}

.products-sort a:active,
.products-sort .current {
	opacity: 1;
}


/* стрелки сортировки "вверх-вниз"*/

.arrows a{
	display: block;
	position: relative;
	width: 20px;
	height: 20px;
	opacity: 0.2;
}  

.arrows a:hover {
	opacity: 0.4;
}

.arrows a:active,
.arrows .current {
	opacity: 1;
}


.arrows a::before {
	position: absolute;
	top: 11px;
	content: "";
	width: 0;
	height: 0;
	border: 9px solid #000000;
}

  .arrow-top a::before {
  	left: -15px;
  border-top-width: 0;
  border-right-color: transparent;
  border-left-color: transparent;
}

.arrow-down a::before {
	right: 0;
	border-bottom-width: 0;
  border-right-color: transparent;
  border-left-color: transparent;
}




.products.wrapper {
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	

}

.products-item {
	position:relative;
	width: 360px;
	margin-top: 10px;
	margin-bottom: 40px;

	
}


.products-picture::before {
	position: absolute;
	top: 29px;
	right: 27px;
	content: "new";
	display: none;
	width: 56px;
	height: 56px;
	font-family: "Gilroy", Arial, sans-serif;
	font-weight: 800;
	font-size: 14px;
	line-height: 56px;
	letter-spacing: 0.05;
	text-transform: uppercase;
	text-align: center;
	color: rgba(0, 0, 0, 0.2);
	border: 2px solid rgba(0, 0, 0, 0.1);
	border-radius: 50%
}

.products-item:last-child .products-picture::before {
	display: block;
}


.products-item:nth-child(odd){
	margin-right: 40px;
}

.name-and-price.wrapper {
	-webkit-box-align: baseline;
	    -ms-flex-align: baseline;
	        align-items: baseline;
}

.products-item h1 {
	margin: 30px 0 0 0;
	padding-left: 0;
	width: 260px;
	font-size: 18px;
	line-height: 1.2em;
	font-weight: 800;
	letter-spacing: 0.01px

}

.products-item:nth-child(2) h1 {
	width: 230px;
}

.products-item span {
	font-family: "Gilroy", Arial, sans-serif;
	font-weight: 300;
	font-size: 16px;
	line-height: 1.2em;
}

.products-purshase.wrapper{
	display: none;
}

 .products-picture:hover .products-purshase.wrapper {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
	        -webkit-box-align: center;
	            -ms-flex-align: center;
	                align-items: center;
	width: 360px;
	height: 380px;
	background-color: rgba(239, 239, 239, 0.7);
	cursor: pointer;
}


.products-purshase .basket {
	position: relative;
 	display: block;
 	width: 200px;
 	padding: 10px 0;	
 	font-family: "Gilroy", Arial, sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 1.2em;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	text-align: center;
	
}

 .products-purshase .basket::before {
 	position: absolute;
 	top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: -1;
 	content: "";
 	display: block;
 	width: 200px;
 	height: 8px;
 	background-color: #ffc600;
 }

 .products-purshase .basket:hover {
 	background-color: #ffc600;
 }

 .products-purshase .basket:active {
 	color: rgba(0, 0, 0, 0.3);
 }

 .products-purshase .compare {
 	margin-top: 0;
 	margin-bottom: 120px;
 	padding: 6px 0;
 	font-family: "Open Sans", Arial, sans-serif;
	font-weight: 300;
	font-size: 13px;
	line-height: 36px;
	letter-spacing: 0.01em;
	color: rgba(0, 0, 0, 0.5);
 }


.products-purshase .compare:hover {
	color: #000000;
}

.products-purshase .compare:active {
	color: rgba(0, 0, 0, 0.2);
}


.products-paginator {
	width: 760px;
	margin-top: 0;
	margin-bottom: 70px;
	margin-right: auto;
	margin-left: 70px;
	padding: 0;
	background-color: #ebebeb;
	list-style: none;
	
}

.products-paginator li:first-child {
	margin-right: auto;
	padding-right: 5px;
}

.products-paginator li:last-child {
	margin-left: auto;
}

.products-paginator a {
	display: block;
	padding: 10px 11px;
	font-size: 16px;
	line-height: 50px;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	color: rgba(0, 0, 0, 0.3);
}



.products-paginator a:hover {
 color: rgba(0, 0, 0, 0.6);
}

.products-paginator a:active,
.products-paginator .current {
 color: rgba(0, 0, 0, 1);
}

.products-paginator .previous,
.products-paginator .next {
	padding-left: 30px;
	padding-right: 25px;
	height: 50px;
	color: #000000;

}

.products-paginator .previous:hover,
.products-paginator .next:hover {
 background-color: rgba(0, 0, 0, 0.08);
 color: #000000;
}

.products-paginator .previous:active,
.products-paginator .next:active {
	background-color: rgba(0, 0, 0, 0.08);
	color: rgba(0, 0, 0, 0.3);

}